.container{
	margin: 50px auto;
	padding: 0 15px;
	max-width: 1000px;
	width: 100%;
}
.questions, .check, .result{
	margin-bottom: 20px;
}
li {
	 margin-bottom: 10px;
 }
label{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: start;
	gap: 20px;
}
input{
	cursor: pointer;
	width: 15px;
	height: 15px;
}
